{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styles/style.css' %}?v=1" rel="stylesheet">
</head>
<body>
    <div class="btn-container">
        <a href="account/doctor" class="btn btn-primary btn-custom">Doctor Sign Up</a>
        <a href="account/doc_login" class="btn btn-secondary btn-custom">Doctor Login</a>
        <a href="account/patient" class="btn btn-success btn-custom">Patient Sign Up</a>
        <a href="account/pat_login" class="btn btn-danger btn-custom">Patient Login</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

